root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

#### Naming conventions ####

dotnet_diagnostic.IDE1006.severity = none

#### Code quality ####

dotnet_diagnostic.ca1062.severity = warning
dotnet_diagnostic.ca2007.severity = none

#### Style guidelines ####

# Braces
csharp_prefer_braces = true:warning
csharp_using_directive_placement = outside_namespace:warning

# Modifier order
csharp_prefer_modifier_order = public, protected, private, internal, static, readonly, override, virtual, abstract, sealed, partial, volatile, async:warning

# Expression-bodied members
csharp_style_expression_bodied_methods = false:warning
csharp_style_expression_bodied_constructors = false:warning
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_operators = false:warning
csharp_style_expression_bodied_accessors = true:suggestion

# Pattern matching
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion

# Null checking
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# File-scoped namespaces
csharp_style_namespace_declarations = file_scoped:warning
